:root {
    --accent: #6343da;
    --text: #ffffff;
    --bg: #0b071d;
    --bg-secondary: rgb(136, 133, 133);

    --font-heading: "Space Grotesk", sans-serif;
    --font-body: "Open Sans", sans-serif;

    --shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

/* body {
    background-color: #6343da;
} */

.hero {
    background-color: var(--bg);
    color: var(--text);
    height: 100vh;
    padding: 0 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.hero-content {
    max-width: 800px;
}

.hero h1 {
    font-size: clamp(2rem, 6vw, 3rem);;
    font-family: var(--font-heading);
    margin: 1rem;
}

.hero .highlight {
    color: var(--accent);
}

.subcontent {
    margin: 2rem;
}

.subtitle {
    font-family: var(--font-body);
    font-size: 1.5rem;
    font-weight: 600;
    margin: .5rem;
}

.tagline {
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 2rem;
}

.cta {
    color: var(--text);
    padding: .75rem 2rem;
    border-radius: 2rem;
    border: 2px solid var(--accent);
    box-shadow: var(--shadow);
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 1.0s ease;
}

.cta:hover {
    background: var(--accent);
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
        line-height: 1.2;
        flex-wrap: wrap;
    }

    .subtitle {
        font-size: 1.2rem;
    }

    .tagline {
        font-size: .9rem;
    }
}


.about-section {
    background: #0d0a1f;
    padding: 4rem 1rem;
    color: var(--text);
    /* height: 100vh; */
}


.about-content {
    font-family: var(--font-body);
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.about-text {
    flex: 1 1 300px;
}

.about-text h2 {
    font-family: var(--font-heading);
    font-size: 2rem;
    margin: 1rem;
    color: var(--accent);
    text-align: center;
}

.about-text p {
    margin-bottom: 1rem;
    line-height: 1.6;
}

.skills {
    margin-top: 1rem;
    font-size: .95rem;
    color: var(--text);
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }
}


.projects-section {
    padding: 4rem 2rem;
    background: var(--bg); /* Chnage later */
    color: var(--text);
    text-align: center;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
}

.project-card {
    background: var(--bg-secondary);
    border: 2px solid var(--text);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(99, 67, 218, 0.3);
    transition: transform .3s ease, box-shadow .3s;
    position: relative;
}

.project-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 30px var(--accent);
}

.card-content {
    padding: 1rem;
    text-align: left;
}

.card-content a {
    display: inline-block;
    margin-top: .5rem;
    color: var(--accent);
    text-decoration: none;
    font-weight: 600;
}